name: Auto Approve

on: pull_request

jobs:
  approve:
    if: github.actor == 'ryone9re'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Auto approve
        uses: hmarr/auto-approve-action@v4
